   body {
            margin:0;
            font-family: sans-serif;
            font-weight: normal;            
            }
        #menu{
            background-color: #edd7c5;
            opacity: 0.9;
            /*this places the menu ABOVE the rest of the page*/
            z-index:1; 
            font-size: 30px;
            padding:30px;

            /*a full screen fixed overlay:; */
            overflow-x: hidden;
            width:100%;
            height:100%;
            position:fixed;

            /*in the beginning the menu is hidden*/
            display:none;
        }
        .btn{
            color:102, 102, 153;
            text-decoration: none;
            cursor:hand;
        }
        .btn:hover{
            text-decoration: underline;
            cursor: pointer; 
        }
         #canvasContainer{
            width: 800px;
            height: 1000px;
        }

        #main{
            width: 100%;
            height: 100%;
            position: relative;
            left: 50%;
            margin: 0;
            text-align: center;

        }
        /*this is the button that makes the menu show up*/
        #menuBtn a{
            margin:auto;
            width:140px;
            background-color: darkslategrey;
            padding:10px;
            color:white;
            color:white;
            text-decoration: none;
            background-color: #AAA;
        }
        #menuBtn a:hover{
            background-color: darkslategrey;
            color:white;
               text-decoration: none;
        }
       a{
           text-decoration: none;

           color: darkslategrey;
       }
       a:hover {
           background-color: darkslategrey;
           color: white;
       }
